.DS_Store
HouhouSetup/Output
Kanji.Common/obj
Kanji.Common/bin
Kanji.Database/obj
Kanji.Database/bin
Kanji.DatabaseMaker/obj
Kanji.DatabaseMaker/bin
Kanji.DatabaseMaker.WaniKani/obj
Kanji.DatabaseMaker.WaniKani/bin
Kanji.Interface/obj
Kanji.Interface/bin
NotifyIconWpf/obj
NotifyIconWpf/bin
*.suo
UpgradeLog.htm
packages
.nuget
/Kanji.DatabaseMaker/Resources/JMdict
.vs
