<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net45" />
</packages>